@import url("https://fonts.googleapis.com/css2?family=Montez&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montez&family=Spartan:wght@200;300;400;500;600;700&display=swap");

:root {
  --green-one: #006466;
  --green-two: #065a60;
  --green-three: #0b525b;
  --green-four: #144552;
  --green-five: #1b3a4b;
  --green-six: #212f45;
  --purple-one: #272640;
  --purple-two: #312244;
  --purple-three: #3e1f47;
  --purple-four: #4d194d;
  --font-one: hsl(240, 1%, 86%);
  --gradient: linear-gradient(180deg, var(--purple-four), var(--green-one));
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html:focus-within {
  scroll-behavior: smooth;
}
html {
  overflow-x: hidden;
}
* {
  scrollbar-width: none;
}
body {
  overflow-x: hidden;
  font-family: "Montez", cursive;
  font-size: 20px;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  scroll-behavior: smooth;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0px;
}

/* navbar styles */
#nav-bar {
  width: 100%;
  position: absolute;
  background: transparent;
  z-index: 1;
  padding-right: 2rem;
  color: var(--font-one);
  font-family: "Spartan";
  font-weight: 300;
}
#nav-bar a {
  text-decoration: none;
  color: var(--font-one);
  display: inline-block;
  margin: 15px 25px;
  overflow: hidden;
  height: 25px;
}
#nav-bar a span {
  display: inline-block;
  position: relative;
  transition: transform 500ms cubic-bezier(0.25, 0.75, 0.5, 1.25);
  -webkit-transition: -webkit-transform 500ms
    cubic-bezier(0.25, 0.75, 0.5, 1.25);
  -moz-transition: transform 500ms cubic-bezier(0.25, 0.75, 0.5, 1.25);
}
#nav-bar a span:after {
  content: attr(data-hover);
  position: absolute;
  top: -30px;
  left: 0;
  transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}
#nav-bar a:hover span,
#nav-bar a:focus span {
  transform: translateY(30px);
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: calc(0.15em + 1vw);
}

/* full scroll height setup */
#scroll {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.page {
  width: 100%;
  height: 100vh;
}

/* landing page styles */
.landing-page {
  background-color: var(--purple-one);
  color: hsl(240, 1%, 86%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hello {
  text-align: center;
}
.hello h1 {
  font-size: 4.75em;
}
.hello p {
  font-size: 1.5em;
}

/* about me styles */
.about-me {
  background-color: var(--green-three);
  color: var(--font-one);
}
.about-me-wrap {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-me-wrap h2 {
  font-size: 2.5em;
  padding-top: 3rem;
}
.about-me-body {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 3rem auto;
}
.about-me-pic {
  height: 250px;
  background-color: var(--green-five);
  width: 250px;
  margin: 1rem auto;
}
.about-me-info {
  padding: 2rem;
  width: 70%;
  margin: 2.2rem auto 0 auto;
  font-family: "Spartan";
  font-weight: 300;
  font-size: 0.8em;
  background-color: #212f45bd;
  border: 1px solid #f0f0f0;
  border-radius: 0.3rem;
  line-height: 1.5;
  text-align: justify;
  z-index: 1;
  transition: all 1s ease;
}

/* drawing */
.about-me-pic {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 1rem;
  border-radius: 0.3rem;
  transform: rotate(45deg);
  z-index: 0;
  border: 1px solid #f0f0f0;
  transition: all 1s ease;
}
.about-me-pic:hover {
  transform: rotate(0deg) translateY(50px);
}

.about-me-pic:hover .about-me-person {
  transform: rotate(0deg) translateY(10px);
}

.about-me-person {
  position: relative;
  left: 10px;
  transform: rotate(-45deg);
  transition: all 1s ease;
}
.head {
  width: 50px;
  height: 60px;
  border-radius: 50%;
  background-color: pink;
}
.eye-left {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: black;
  position: relative;
  left: 14px;
  top: 18px;
}
.eye-right {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: black;
  position: relative;
  left: 34px;
  top: 12px;
}
.neck {
  width: 18px;
  height: 16px;
  background-color: pink;
  position: relative;
  top: -5px;
  left: 16px;
}
.body {
  width: 65px;
  height: 65px;
  background-color: white;
  position: relative;
  top: -8px;
  left: -8px;
  border-radius: 10px 10px 0 0;
  z-index: 2;
}
.arm-left {
  width: 19px;
  height: 67px;
  background-color: pink;
  transform: rotate(-10deg);
  position: relative;
  right: 8px;
  top: -122px;
  z-index: 1;
}
.arm-left {
  -webkit-animation: wave2 1s alternate infinite ease-in-out;
  animation: wave2 1s alternate infinite ease-in-out;
  transform-origin: bottom;
}

@-webkit-keyframes wave2 {
  0% {
    transform: rotateZ(-40deg);
  }
  100% {
    transform: rotateZ(-15deg);
  }
}

@keyframes wave2 {
  0% {
    transform: rotateZ(-40deg);
  }
  100% {
    transform: rotateZ(-15deg);
  }
}
.leg-top {
  width: 65px;
  height: 35px;
  background-color: blue;
  position: relative;
  top: -75px;
  left: -8px;
}
.leg-left {
  width: 30px;
  height: 50px;
  background-color: blue;
  position: relative;
  top: -75px;
  left: -8px;
}
.leg-right {
  width: 30px;
  height: 50px;
  background-color: blue;
  position: relative;
  top: -125px;
  left: 27px;
}

/* .about-content {
  height: 100%;
  width: 100%;
}
.about-flex-wrap {
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: 90%;
  align-items: center;
  justify-content: center;
}
.about-text {
  background-color: #854545;
  position: relative;
  max-width: 473.117px;
  max-height: 453.15px;
  min-width: 375px;
  height: 70%;
  left: 1.5%;
  width: 45%;
  border: 1px solid;
  overflow-y: scroll;
  padding: 0.5rem 3rem 0.5rem 0.5rem;
}
.about-title {
  position: relative;
  top: -13vh;
  right: -2vw;
  font-size: 1em;
  text-align: center;
}
.about-graphic {
  position: relative;
  background-color: white;
  height: 225px;
  width: 200px;
  top: 0;
  right: 1.5%;
  border: 1px solid;
} */
/* projects styles */
.projects {
  background-color: var(--purple-three);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects-title {
  color: var(--font-one);
  font-size: 3em;
}
.card-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.project-card {
  font-family: "Spartan";
  border-radius: 0.3rem;
  margin: 2rem;
  width: 25%;
  height: 100%;
  min-width: 268px;
  min-height: 442px;
  max-width: 299.4px;
  max-height: 457.9px;
  font-size: 0.7em;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 0.0625em 0.0625em,
    rgba(255, 255, 255, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  display: flex;
  flex-direction: column;
}
.card-title {
  padding: 0.5rem;
  text-align: center;
  border-bottom: 1px solid;
  background-color: #f8f4ff;
  border-radius: 0.3rem 0.3rem 0 0;
  font-weight: bold;
  font-size: calc(0.6em + 0.5vw);
}
.card-img {
  width: 90%;
  height: 50%;
  margin: 0 auto;
}
.card-img img {
  width: 100%;
  height: auto;
  border-radius: 0.3rem;
  border: 1px solid #dbd7d2;
}

.card-body {
  background-color: #ffffff;
  padding: 1rem 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card-description {
  text-align: center;
  margin: 1rem 0.25rem;
  height: auto;
}
.card-languages-title {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 1em;
  margin-top: 20px;
}
.card-languages {
  margin-top: 0.5em;
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
}
.card-bottom {
  border-top: 1px solid;
  background-color: #f8f4ff;
  border-radius: 0 0 0.3rem 0.3rem;
  padding-bottom: 0.5rem;
}
/* connect styles */
.connect {
  background-color: var(--green-six);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-one);
}
.connect-content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.me {
  width: 25%;
  height: auto;
  border-radius: 0.3rem;
}
.connect-info h3 {
  margin: 1rem 0 2rem 0;
}
.connect-info {
  width: 60%;
  margin: 1rem auto;
  font-size: 1.5em;
}
.connect-info p {
  font-family: "Spartan";
  font-size: 0.5em;
  font-weight: 300;
}
.connect-links {
  width: 80%;
  margin: 4rem auto 2rem auto;
  display: flex;
  justify-content: space-around;
}
.connect-links img {
  transition: all 0.5s ease-out;
}
.connect-links a img:hover {
  transform: translateY(-5px) scale(1.1);
}

@media screen and (max-width: 1250px) {
  .hello h1 {
    font-size: 3.5em;
  }
  .hello p {
    margin-top: 1rem;
    font-size: 1.5em;
  }
  .nav-links {
    font-size: 17px;
  }
}

@media screen and (max-width: 600px) {
}
